.carousel-img {
  width: 1000px; 
  height: 600px; 
  object-fit: cover; 
  transition: transform 0.5s ease, filter 0.5s ease;
}

.carousel-img:hover {
  transform: scale(1.05);
  filter: brightness(0.8);
}

.carousel-caption h3 {
  font-size: 2rem;
  font-weight: bold;
}

.carousel-caption p {
  font-size: 1.2rem;
  margin-top: 10px;
}

.carousel .carousel-item {
  text-align: center;
}
